/* https://codepen.io/jakewm/pen/rWWdgB */
.hs-responsive-embed-youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  padding-top: 25px;

  iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
  }
}
