[submodule "packages/hexo-blogger-xml"]
	path = packages/hexo-blogger-xml
	url = https://github.com/dimaslanjaka/hexo-blogger-xml
[submodule "packages/ga-analytics"]
	path = packages/ga-analytics
	url = https://github.com/sfarthin/ga-analytics
[submodule "packages/hexo-admin-ehc"]
	path = packages/hexo-admin-ehc
	url = https://github.com/lwz7512/hexo-admin-ehc
