node_modules
dist/*.tsbuildinfo
.yarn
*.log
tmp
temp
.cache
.env.development
/coverage
/src/_config.auto*.json
/docs

# disable dist
/packages/**/dist/
# /dist
# /release

# branch v2
/build
/public
/source
/tests
/src/types/_*
/src/gulp/
/src/validator/
/.deploy_git
/src-posts/
/import/
/dist/validator

# git management
**/.git-rewrite
