[submodule "packages/hexo-blogger-xml"]
	path = packages/hexo-blogger-xml
	url = https://github.com/dimaslanjaka/hexo-blogger-xml.git
	branch = compiler
[submodule "themes/material"]
	path = packages/hexo-blogger-xml
	url = https://github.com/dimaslanjaka/niemingzhao.github.io.git
	branch = theme-v2

