.DS_Store
Thumbs.db
db.json
twitter-db.json
*.log
node_modules
public/
.deploy*/
tmp/
exclude/
docs/
#package-lock.json
firebase.js

# remove dynamic idea objects
.idea/vcs.xml
.idea/workspace.xml
**/.idea/vcs.xml
**/.idea/workspace.xml

# custom build for cache hexo-seo
build/*
!build/hexo-seo/